In [4]:
import pandas as pd

In [11]:
df = pd.read_csv('mission_launches.csv') # create a data frame for the launches
df_copy = df.copy() # create a copy of the data frame to preserve the original data

In [12]:
df_copy.head()

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [43]:
df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)
df.head()

,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

Launch Frequency:

What year had the most launches?

What is the percent change?

For the Falcon 9, is the launch tempo increasing?

In [163]:
date_testing = pd.to_datetime(df['Date'], errors='coerce')
# Function to convert date string to datetime and extract components
def extract_date_components(date_str):
    try:
        # Check if the date string has fewer than 5 elements (indicating missing time)
        if len(date_str.split()) < 5:
            # Add "00:00 UTC" to the date string
            date_str += " 00:00 UTC"
        # Convert to datetime
        dt = pd.to_datetime(date_str, format="%a %b %d, %Y %H:%M %Z")
        return pd.Series([dt.year, dt.month, dt.strftime("%b"), dt])
    except Exception as e:
        print(f"Error processing date '{date_str}': {e}")
        return pd.Series([pd.NA, pd.NA, pd.NA, pd.NaT])

# Applying the function to the 'Date' column
df[['Year', 'MonthNum', 'MonthName', 'DateTime']] = df['Date'].apply(extract_date_components)
df.drop(columns=['Month', 'MonthNum'], inplace=True)
df.head(110)

,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,Year,Time,MonthName,DateTime
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020,05:12,Aug,2020-08-07 05:12:00+00:00
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020,04:01,Aug,2020-08-06 04:01:00+00:00
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020,23:57,Aug,2020-08-04 23:57:00+00:00
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020,21:25,Jul,2020-07-30 21:25:00+00:00
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020,11:50,Jul,2020-07-30 11:50:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
105,VKS RF,"Site 133/3, Plesetsk Cosmodrome, Russia","Fri Aug 30, 2019 14:00 UTC",Rokot/Briz KM | Cosmos 2540,StatusRetired,41.8,Success,2019,14:00,Aug,2019-08-30 14:00:00+00:00
106,ISA,"Imam Khomeini Spaceport, Semnan Space Center, ...","Thu Aug 29, 2019",Safir-1B+ | Nahid-1,StatusActive,NaN,Prelaunch Failure,2019,00:00,Aug,2019-08-29 00:00:00+00:00
107,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA","Thu Aug 22, 2019 13:06 UTC","Delta IV Medium+ (4,2) | GPS III SV02",StatusRetired,164.0,Success,2019,13:06,Aug,2019-08-22 13:06:00+00:00
108,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Aug 22, 2019 03:38 UTC",Soyuz 2.1a | Soyuz MS-14 (60S),StatusActive,48.5,Success,2019,03:38,Aug,2019-08-22 03:38:00+00:00
109,Rocket Lab,"Rocket Lab LC-1A, M?hia Peninsula, New Zealand","Mon Aug 19, 2019 12:12 UTC","Electron/Curie | Look Ma, No Hands!",StatusActive,7.5,Success,2019,12:12,Aug,2019-08-19 12:12:00+00:00

In [167]:
# Split 'Location' column by comma
split_cols = df['Location'].str.split(',', expand=True)

# Assign split columns to new DataFrame
af = pd.DataFrame()
af['Organisation'] = df['Organisation'].astype('category')
af['Launch Pad'] = split_cols[0].str.strip().astype('category')
af['Launch Center'] = split_cols[1].str.strip().astype('category') if split_cols.shape[1] > 1 else None

# Determine Launch State and Launch Country
def determine_state_and_country(row):
    parts = row[['Launch State', 'Launch Country']].values
    # print(parts)
    # If the last part is not 'None' and there is no state, it should be the country
    if len(parts) > 1 and pd.isna(parts[1]):
        # print(parts[0])
        return pd.Series(['', parts[0]])
    elif len(parts) > 1:
        # print('State and Country')
        return pd.Series([parts[0], parts[1]])
    else:
        # print('No state/country combination')
        return pd.Series([pd.NA, pd.NA])

af['Launch State'] = split_cols[2].str.strip().astype('category') if split_cols.shape[1] > 2 else pd.NA
af['Launch Country'] = split_cols[3].str.strip().astype('category') if split_cols.shape[1] > 3 else pd.NA

# Correcting the values using the defined function
af[['Launch State', 'Launch Country']] = af.apply(determine_state_and_country, axis=1).astype('category')

af['Month'] = df['MonthName'].astype('category')
af['Year'] = df['Year'].astype('category')
af.to_csv('mission_analysis.csv', index=False)
af.head()

,Organisation,Launch Pad,Launch Center,Launch State,Launch Country,Month,Year
0,SpaceX,LC-39A,Kennedy Space Center,Florida,USA,Aug,2020
1,CASC,Site 9401 (SLS-2),Jiuquan Satellite Launch Center,,China,Aug,2020
2,SpaceX,Pad A,Boca Chica,Texas,USA,Aug,2020
3,Roscosmos,Site 200/39,Baikonur Cosmodrome,,Kazakhstan,Jul,2020
4,ULA,SLC-41,Cape Canaveral AFS,Florida,USA,Jul,2020

Launch State
                    2674
Florida              834
California           454
French Guiana        299
Virginia              31
Texas                 13
Marshall Islands       9
Algeria                4
Alaska                 3
Maranh?œo              3
Name: count, dtype: int64

In [97]:
af['Launch Country'].value_counts()

Launch Country
Russia                            1390
USA                               1344
Kazakhstan                         701
France                             303
China                              259
Japan                              119
India                               76
Pacific Ocean                       36
New Zealand                         13
Iran                                13
Israel                              11
Kenya                                9
Australia                            6
North Korea                          5
New Mexico                           4
Barents Sea                          3
Brazil                               3
South Korea                          3
Gran Canaria                         2
Pacific Missile Range Facility       1
Name: count, dtype: int64

In [171]:
us_filter = af['Launch Country'].isin(['USA'])
us_df = af[us_filter]
us_df['Launch State'].value_counts()
# us_launch_cadence = pd.DataFrame(us_df['Year'].value_counts().sort_index())
# us_launch_cadence.index

Launch State
Florida             834
California          454
Virginia             31
Texas                13
Marshall Islands      9
Alaska                3
                      0
Algeria               0
French Guiana         0
Maranh?œo             0
Name: count, dtype: int64

In [128]:
rs_filter = af['Launch Country'].isin(['Russia'])
rs_df = af[rs_filter]
rs_launch_cadence = rs_df['Year'].value_counts().sort_index()
rs_launch_cadence

Year
0       44
1957     0
1958     0
1959     0
1960     0
        ..
2016     6
2017     6
2018     8
2019     9
2020     3
Name: count, Length: 65, dtype: int64

Questions:

What organization is the most successful?

What rocket is the most successful?

Which launch pad is the most used?

What month of the year has the most launches per year and on average?

In [24]:
df['Rocket_Status'] = df['Rocket_Status'].astype('category')

In [106]:
af.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Organisation    4324 non-null   category
 1   Launch Pad      4324 non-null   category
 2   Launch Center   4324 non-null   category
 3   Launch State    4324 non-null   category
 4   Launch Country  4301 non-null   category
dtypes: category(5)
memory usage: 35.5 KB

In [29]:
df['Rocket_Status'].value_counts()

Rocket_Status
StatusRetired    3534
StatusActive      790
Name: count, dtype: int64

In [31]:
is_retired_filter = df['Rocket_Status'] == 'StatusRetired'
is_active_filter = df['Rocket_Status'] == 'StatusActive'

is_retired = df[is_retired_filter]
is_active = df[is_active_filter]

is_retired['Date'].info()

<class 'pandas.core.series.Series'>
Index: 3534 entries, 29 to 4323
Series name: Date
Non-Null Count  Dtype
--------------  -----
3534 non-null   object
dtypes: object(1)
memory usage: 55.2+ KB

In [58]:
# df['Year'].value_counts()
df['Year'].dropna().describe()

TypeError: Series.dropna() takes 1 positional argument but 2 were given